{% extends 'pca/base.html' %}

{% block content %}
	<div class="col-md-12">
        <div class="card">
            <div class="header">
                <div class="col-md-12">
                	<h4>Erro na sua solicitação!</h4>
            	</div>
        	</div>
	        <div class="content">
	        </div>
	    </div>	
	</div>
{% endblock %}