{% extends 'pca/base.html' %}

{% block content %}
	<div class="col-md-12">
        <div class="card">
            <div class="header">
                <h4 class="title">Certificados emitidos</h4>
                <p class="category">Segundo modo de operação</p>
            </div>
            <div class="content">
                <table class="table datatable responsive">
                    <thead>
                        <tr>
                            <th>Data de emissão</th>
                            <th>Request ID</th>
                            <th>Pseudônimo</th>
                            <th>Chave pseud</th>
                            <th>Semente</th>
                            <th>Assinatura 1</th>
                            <th>Assinatura 2</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for certificate in certificates %}
                        <tr>
                            <td class="td-wrap">{{ certificate.certificate.creation_date | date:'d/m/y H:i'}}</td>
                            <td class="td-wrap">{{ certificate.request_id }}</td>
                            <td class="td-wrap">{{ certificate.certificate.public_key.bin_value }}</td>
                            <td class="td-wrap">{{ certificate.pseud_point }}</td>
                            <td class="td-wrap">{{ certificate.seed }}</td>
                            <td class="td-wrap">{{ certificate.certificate.signature_value_1 }}</td>
                            <td class="td-wrap">{{ certificate.certificate.signature_value_2 }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
			                    
                <!--div class="footer">
                    <div class="stats">
                        <i class="fa fa-clock-o"></i> Certificado obtido {% now "H:i d/M/Y" %}
                    </div>
                </div-->
            </div>
        </div>
    </div>
{% endblock %}