{% extends 'pca/base.html' %}

{% block content %}
	<div class="col-md-12">
        <div class="card">
            <div class="header">
                <h4 class="title">Certificados válidos</h4>
                <p class="category">Certificados com data de expiração futura - Primeiro modo de operação</p>
            </div>
            <div class="content">
                <table class="table datatable responsive">
                    <thead>
                        <tr>
                            <th>Identificação do veículo</th>
                            <th>Data de emissão</th>
                            <th>Data de expiração</th>
                            <th>Chave pública</th>
                            <th>Assinatura 1</th>
                            <th>Assinatura 2</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for valid_certificate in valid_certificates %}
                        <tr>
                            <td class="td-wrap">{{ valid_certificate.identification_code }}</td>
                            <td class="td-wrap">{{ valid_certificate.certificate.creation_date | date:'d/m/y H:i' }}</td>
                            <td class="td-wrap">{{ valid_certificate.certificate.expiration_date | date:'d/m/y'}}</td>
                            <td class="td-wrap">{{ valid_certificate.certificate.public_key.bin_value }}</td>
                            <td class="td-wrap">{{ valid_certificate.certificate.signature_value_1 }}</td>
                            <td class="td-wrap">{{ valid_certificate.certificate.signature_value_2 }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
			                    
                <!--div class="footer">
                    <div class="stats">
                        <i class="fa fa-clock-o"></i> Certificado obtido {% now "H:i d/M/Y" %}
                    </div>
                </div-->
            </div>
        </div>
        <div class="card">
            <div class="header">
                <h4 class="title">Certificados expirados</h4>
                <p class="category">Certificados com data de expiração passada</p>
            </div>
            <div class="content">
                <table class="table datatable responsive">
                    <thead>
                        <tr>   
                            <th>Identificação do veículo</th>
                            <th>Data de emissão</th>
                            <th>Data de expiração</th>
                            <th>Chave pública</th>
                            <th>Assinatura 1</th>
                            <th>Assinatura 2</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for expired in expired_certificates %}
                        <tr>
                            <td class="td-wrap">{{ expired.identification_code }}</td>
                            <td class="td-wrap">{{ expired.certificate.creation_date }}</td>
                            <td class="td-wrap">{{ expired.certificate.expiration_date }}</td>
                            <td class="td-wrap">{{ expired.certificate.public_key.bin_value }}</td>
                            <td class="td-wrap">{{ expired.certificate.signature_value_1 }}</td>
                            <td class="td-wrap">{{ expired.certificate.signature_value_2 }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}